

table {
  table-layout: fixed;
}

.connection_error {
  color: red;
  width: 100%;
}

td {
  width: 33%;
  padding-bottom: 30%;
  height: 0;
  border-radius: 5%;
}

.data-container{
  transition: background-color 0.2s
}


