<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Visulizor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!isConnected">
    <button ion-button block color="danger" disabled="true">
      Connection is not active
    </button>

  </ng-container>

  <table width="100%">
    <tr *ngFor="let dataRow of (dataTable$ | async); index as row; trackBy:trackByFn">
      <td *ngFor="let data of dataRow;index as col; trackBy: trackByFn" [ngStyle]="{'background-color': data | colorPipe: row : col }"
        class="data-container">
        <div style="text-align: center">
          {{data | diToW : row : col}} gram
          <div>{{data}}V</div>
        </div>
      </td>
    </tr>
  </table>

  <button ion-button block (click)="calibrate()">Tare</button>
  <div>
    Total Weight: {{ totalWeight$ | async}} gram
  </div>


</ion-content>